openapi: 3.0.0
info:
  title: Api Analytics secret API
  version: 0.0.1
  description: Endpoints that require a Sequence service token intended to be secret. You can manually generate one on Sequence Builder and pass it as a Bearer Token.
servers:
- url: https://api.sequence.app
  description: Analytics
security:
- ApiKeyAuth: []
tags:
- name: secret
  description: Endpoints that require a Sequence service token intended to be secret. You can manually generate one on Sequence Builder and pass it as a Bearer Token.
paths:
  /rpc/Indexer/GetOrderbookOrders:
    post:
      summary: GetOrderbookOrders
      description: 'These parameters are depracated, please don''t use them: - filters - beforeExpiryTimestamp - blockNumberAfter - createdAtAfter and in OrderbookOrderFilter these fields are depracated: - userAddress - excludeUserAddress

        Use ''filter'' and these fields instead - userAddresses - excludeUserAddress'''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetOrderbookOrders_Request'
            example:
              page:
                page: 1
                pageSize: 100
              orderbookContractAddress: '0xfdb42A198a932C8D3B506Ffa5e855bC4b348a712'
              collectionAddress: '0x602d5dc17490794267c7fa5f58a453eb9159a86d'
              currencyAddresses:
              - '0x7ceb23fd6bc0add59e62ac25578270cff1b9f619'
              - '0x0000000000000000000000000000000000000000'
              - '0x3c499c542cef5e3811e1192ce70d8cc03d5c3359'
              filter:
                isListing: null
                userAddresses: null
                tokenIds: null
                excludeUserAddresses: null
                afterBlockNumber: 0
                afterCreatedAt: 0
                beforeExpiry: 0
                userAddress: null
                excludeUserAddress: null
              orderStatuses:
              - OPEN
              filters: null
              beforeExpiryTimestamp: 0
              blockNumberAfter: 0
              createdAtAfter: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetOrderbookOrders_Response'
              example:
                page:
                  page: 2
                  pageSize: 100
                  more: false
                orders:
                - orderId: '1198'
                  tokenContract: '0x602d5dc17490794267c7fa5f58a453eb9159a86d'
                  tokenId: '3'
                  isListing: true
                  quantity: '1'
                  quantityRemaining: '1'
                  currencyAddress: '0x3c499c542cef5e3811e1192ce70d8cc03d5c3359'
                  pricePerToken: '1000000'
                  expiry: '1729168819'
                  orderStatus: OPEN
                  createdBy: '0xf43a1defbd32243fd83fe702f7817dde3319246e'
                  blockNumber: 63027844
                  orderbookContractAddress: '0xfdb42A198a932C8D3B506Ffa5e855bC4b348a712'
                  createdAt: 1728909642
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/GetTopOrders:
    post:
      summary: GetTopOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTopOrders_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTopOrders_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/GetAllWebhookListeners:
    post:
      summary: GetAllWebhookListeners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetAllWebhookListeners_Request'
            example:
              projectId: 31396
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetAllWebhookListeners_Response'
              example:
                listeners:
                - id: 160497579
                  projectID: 31396
                  url: https://webhook.site/#!/view/a2859143-0a52-4b69-98f2-a58733e4dcf0
                  filters:
                    events:
                    - Transfer(address indexed from,address indexed to,uint256 indexed tokenId)
                    contractAddresses:
                    - '0x9bec34c1f7098e278afd48fedcf13355b854364a'
                    accounts:
                    - '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIDs: null
                  name: 'webhook.site #a84730'
                  updatedAt: '2024-10-10T20:37:01.685037Z'
                  active: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/GetWebhookListener:
    post:
      summary: GetWebhookListener
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetWebhookListener_Request'
            example:
              id: 160497579
              projectId: 31396
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetWebhookListener_Response'
              example:
                listener:
                  id: 160497579
                  projectID: 31396
                  url: https://webhook.site/#!/view/a2859143-0a52-4b69-98f2-a58733e4dcf0
                  filters:
                    events:
                    - Transfer(address indexed from,address indexed to,uint256 indexed tokenId)
                    contractAddresses:
                    - '0x9bec34c1f7098e278afd48fedcf13355b854364a'
                    accounts:
                    - '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIDs: null
                  name: 'webhook.site #a84730'
                  updatedAt: '2024-10-10T20:37:01.685037632Z'
                  active: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/AddWebhookListener:
    post:
      summary: AddWebhookListener
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_AddWebhookListener_Request'
            example:
              filters:
                accounts:
                - '0xe6eB28398CCBe46aA505b62b96822c2Ce8DAABf4'
                contractAddresses:
                - '0x9bec34c1f7098e278afd48fedcf13355b854364a'
                events:
                - Transfer(address indexed from, address indexed to, uint256 indexed tokenId)
              projectId: 31396
              url: https://webhook.site/#!/view/a2859143-0a52-4b69-98f2-a58733e4dcf0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_AddWebhookListener_Response'
              example:
                status: true
                listener:
                  id: 160497579
                  projectID: 31396
                  url: https://webhook.site/#!/view/a2859143-0a52-4b69-98f2-a58733e4dcf0
                  filters:
                    events:
                    - Transfer(address indexed from,address indexed to,uint256 indexed tokenId)
                    contractAddresses:
                    - '0x9bec34c1f7098e278afd48fedcf13355b854364a'
                    accounts:
                    - '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIDs: null
                  name: 'webhook.site #a84730'
                  updatedAt: '2024-10-10T20:37:01.685037632Z'
                  active: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/UpdateWebhookListener:
    post:
      summary: UpdateWebhookListener
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_UpdateWebhookListener_Request'
            example:
              filters:
                accounts:
                - '0xe6eB28398CCBe46aA505b62b96822c2Ce8DAABf4'
                contractAddresses:
                - '0x9bec34c1f7098e278afd48fedcf13355b854364a'
                tokenIDs:
                - '100'
                events:
                - Transfer(address indexed from, address indexed to, uint256 indexed tokenId)
              projectId: 31396
              url: https://webhook.site/#!/view/a2859143-0a52-4b69-98f2-a58733e4dcf0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_UpdateWebhookListener_Response'
              example:
                status: true
                listener:
                  id: 2435835685
                  projectID: 31396
                  url: https://webhook.site/#!/view/a2859143-0a52-4b69-98f2-a58733e4dcf0
                  filters:
                    events:
                    - Transfer(address indexed from,address indexed to,uint256 indexed tokenId)
                    contractAddresses:
                    - '0x9bec34c1f7098e278afd48fedcf13355b854364a'
                    accounts:
                    - '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIDs:
                    - '100'
                  name: 'webhook.site #b5cf2f'
                  updatedAt: '2024-10-10T20:52:58.924369913Z'
                  active: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/RemoveWebhookListener:
    post:
      summary: RemoveWebhookListener
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_RemoveWebhookListener_Request'
            example:
              id: 160497579
              projectId: 31396
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_RemoveWebhookListener_Response'
              example:
                status: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/ToggleWebhookListener:
    post:
      summary: ToggleWebhookListener
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_ToggleWebhookListener_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_ToggleWebhookListener_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/PauseAllWebhookListeners:
    post:
      summary: PauseAllWebhookListeners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_PauseAllWebhookListeners_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_PauseAllWebhookListeners_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Indexer/ResumeAllWebhookListeners:
    post:
      summary: ResumeAllWebhookListeners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_ResumeAllWebhookListeners_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_ResumeAllWebhookListeners_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/CreateCollection:
    post:
      summary: CreateCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_CreateCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collection:
                    projectId: 30957
                    private: true
                    metadata:
                      name: Sandbox Chronicles
                      description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                      externalLink: https://sequence.xyz/
                      properties:
                        maxNfts: 22
                        minNfts: 4
                        funCollection: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_CreateCollection_Response'
              examples:
                '0':
                  value:
                    collection:
                      id: 887
                      projectId: 30957
                      metadata:
                        name: Sandbox Chronicles
                        description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                        properties:
                          funCollection: true
                          maxNfts: 22
                          minNfts: 4
                      private: true
                      createdAt: '2024-10-23T06:56:39.027843Z'
                      updatedAt: '2024-10-23T06:56:39.027843Z'
                      baseURIs:
                        contractMetadataURI: https://metadata.sequence.app/projects/30957/collections/887.json
                        tokenMetadataURI: https://metadata.sequence.app/projects/30957/collections/887/tokens/
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/GetCollection:
    post:
      summary: GetCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_GetCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collectionId: 887
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_GetCollection_Response'
              examples:
                '0':
                  value:
                    collection:
                      id: 887
                      projectId: 30957
                      metadata:
                        name: Sandbox Chronicles
                        description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                        properties:
                          funCollection: true
                          maxNfts: 22
                          minNfts: 4
                      private: true
                      tokenCount: 0
                      createdAt: '2024-10-23T06:56:39.027843Z'
                      updatedAt: '2024-10-23T06:56:39.027843Z'
                      baseURIs:
                        contractMetadataURI: https://metadata.sequence.app/projects/30957/collections/887.json
                        tokenMetadataURI: https://metadata.sequence.app/projects/30957/collections/887/tokens/
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/ListCollections:
    post:
      summary: ListCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_ListCollections_Request'
            examples:
              '0':
                value:
                  projectId: 30957
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_ListCollections_Response'
              examples:
                '0':
                  value:
                    page:
                      pageSize: 30
                      more: false
                    collections:
                    - id: 265
                      projectId: 30957
                      metadata:
                        name: Mystic Horizons
                        description: ''
                      private: false
                      tokenCount: 3
                      createdAt: '2024-05-31T04:17:14.093787Z'
                      updatedAt: '2024-10-22T15:16:05.25969Z'
                      baseURIs:
                        contractMetadataURI: https://metadata.sequence.app/projects/30957/collections/265.json
                        tokenMetadataURI: https://metadata.sequence.app/projects/30957/collections/265/tokens/
                    - id: 690
                      projectId: 30957
                      metadata:
                        name: Primary Sales NFTS - Divine Weapons
                        description: Primary Sales NFTS - Divine Weapons Collection
                        image: https://metadata.sequence.app/projects/30957/collections/690/image.png
                        external_link: https://www.google.com
                      private: false
                      tokenCount: 2
                      createdAt: '2024-08-29T19:44:00.236269Z'
                      updatedAt: '2024-08-29T19:52:13.722495Z'
                      baseURIs:
                        contractMetadataURI: https://metadata.sequence.app/projects/30957/collections/690.json
                        tokenMetadataURI: https://metadata.sequence.app/projects/30957/collections/690/tokens/
                    - id: 819
                      projectId: 30957
                      metadata:
                        name: Placeholders
                        description: Placeholders collection
                        image: https://metadata.sequence.app/projects/30957/collections/819/image.png
                      private: false
                      tokenCount: 10
                      createdAt: '2024-10-03T18:46:15.987375Z'
                      updatedAt: '2024-10-03T18:46:18.25727Z'
                      baseURIs:
                        contractMetadataURI: https://metadata.sequence.app/projects/30957/collections/819.json
                        tokenMetadataURI: https://metadata.sequence.app/projects/30957/collections/819/tokens/
                    - id: 887
                      projectId: 30957
                      metadata:
                        name: Sandbox Chronicles
                        description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                        properties:
                          funCollection: true
                          maxNfts: 22
                          minNfts: 4
                      private: true
                      tokenCount: 0
                      createdAt: '2024-10-23T06:56:39.027843Z'
                      updatedAt: '2024-10-23T06:56:39.027843Z'
                      baseURIs:
                        contractMetadataURI: https://metadata.sequence.app/projects/30957/collections/887.json
                        tokenMetadataURI: https://metadata.sequence.app/projects/30957/collections/887/tokens/
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/UpdateCollection:
    post:
      summary: UpdateCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_UpdateCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collection:
                    projectId: 30957
                    id: 888
                    private: true
                    metadata:
                      name: Sandbox Chronicles Modified
                      description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                      externalLink: https://sequence.xyz/
                      properties:
                        maxNfts: 1000
                        minNfts: 1
                        funCollection: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_UpdateCollection_Response'
              examples:
                '0':
                  value:
                    collection:
                      id: 888
                      projectId: 30957
                      metadata:
                        name: Sandbox Chronicles Modified
                        description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                        properties:
                          funCollection: false
                          maxNfts: 1000
                          minNfts: 1
                      private: true
                      createdAt: '2024-10-23T07:02:00.905283Z'
                      updatedAt: '2024-10-23T07:10:45.118089375Z'
                      baseURIs:
                        contractMetadataURI: https://metadata.sequence.app/projects/30957/collections/888.json
                        tokenMetadataURI: https://metadata.sequence.app/projects/30957/collections/888/tokens/
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/DeleteCollection:
    post:
      summary: DeleteCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_DeleteCollection_Request'
            examples:
              '0':
                value:
                  projectId: 3095723
                  collectionId: 26532223
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_DeleteCollection_Response'
              examples:
                '0':
                  value:
                    status: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/PublishCollection:
    post:
      summary: PublishCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_PublishCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collectionId: 888
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_PublishCollection_Response'
              examples:
                '0':
                  value:
                    collection:
                      id: 888
                      projectId: 30957
                      metadata:
                        name: Sandbox Chronicles Modified
                        description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                        properties:
                          funCollection: false
                          maxNfts: 1000
                          minNfts: 1
                      private: false
                      createdAt: '2024-10-23T07:02:00.905283Z'
                      updatedAt: '2024-10-23T07:10:45.118089Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/UnpublishCollection:
    post:
      summary: UnpublishCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_UnpublishCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collectionId: 888
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_UnpublishCollection_Response'
              examples:
                '0':
                  value:
                    collection:
                      id: 888
                      projectId: 30957
                      metadata:
                        name: Sandbox Chronicles Modified
                        description: A collection of test cases designed to push the boundaries of your API. Whether you’re validating edge cases, simulating real-world scenarios, or just experimenting with wild inputs, this suite ensures your endpoints are battle-tested and ready for anything. Perfect for developers who embrace the unexpected and thrive on precision.
                        properties:
                          funCollection: false
                          maxNfts: 1000
                          minNfts: 1
                      private: true
                      createdAt: '2024-10-23T07:02:00.905283Z'
                      updatedAt: '2024-10-23T07:10:45.118089Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/CreateContractCollection:
    post:
      summary: CreateContractCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_CreateContractCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  contractCollection:
                    chainId: 80002
                    contractAddress: '0x477566e9ade2dfa69f066f909e36ad617a2adef7'
                    collectionId: 819
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_CreateContractCollection_Response'
              examples:
                '0':
                  value:
                    contractCollection:
                      id: 460
                      chainId: 80002
                      contractAddress: '0x477566e9ade2dfa69f066f909e36ad617a2adef7'
                      collectionId: 819
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/GetContractCollection:
    post:
      summary: GetContractCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_GetContractCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  chainId: 80002
                  contractAddress: '0x6325e304e6eea3c818f1eaf8924570d491e1f6d4'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_GetContractCollection_Response'
              examples:
                '0':
                  value:
                    contractCollection:
                      id: 442
                      chainId: 80002
                      contractAddress: '0x6325e304e6eea3c818f1eaf8924570d491e1f6d4'
                      collectionId: 908
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/ListContractCollections:
    post:
      summary: ListContractCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_ListContractCollections_Request'
            examples:
              '0':
                value:
                  collectionId: 819
                  projectId: 30957
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_ListContractCollections_Response'
              examples:
                '0':
                  value:
                    contractCollections:
                    - id: 370
                      chainId: 80002
                      contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                      collectionId: 819
                    collections:
                    - id: 819
                      projectId: 30957
                      metadata:
                        name: Placeholders
                        description: Placeholders collection
                        image: https://metadata.sequence.app/projects/30957/collections/819/image.png
                      private: false
                      createdAt: '2024-10-03T18:46:15.987375Z'
                      updatedAt: '2024-10-03T18:46:18.25727Z'
                    page:
                      pageSize: 30
                      more: false
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/UpdateContractCollection:
    post:
      summary: UpdateContractCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_UpdateContractCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  contractCollection:
                    chainId: 80002
                    contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                    collectionId: 819
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_UpdateContractCollection_Response'
              examples:
                '0':
                  value:
                    ok: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/DeleteContractCollection:
    post:
      summary: DeleteContractCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_DeleteContractCollection_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  chainId: 80002
                  contractAddress: '0x477566e9ade2dfa69f066f909e36ad617a2adef7'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_DeleteContractCollection_Response'
              examples:
                '0':
                  value:
                    ok: true
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/CreateToken:
    post:
      summary: CreateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_CreateToken_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collectionId: 888
                  private: false
                  token:
                    tokenId: '200'
                    name: Eclipse Dragon
                    description: Forged from starlight and shadows, the Eclipse Dragon emerges only during celestial alignments. Its obsidian scales shimmer with constellations, and its breath holds the power to bend time and space. Legends say that those who possess its essence gain unparalleled wisdom—though at the cost of fleeting moments lost to the void. Will you dare wield its mystic force?
                    properties:
                      element: Shadow and Starlight
                      rarity: Legendary
                      alignment: Celestial
                      age: Ancient
                      size: Massive
                      breath_power: Time Distortion
                      temperament: Mysterious
                      constellations_on_scales: 42
                      last_seen: During the Last Solar Eclipse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_CreateToken_Response'
              examples:
                '0':
                  value:
                    token:
                      tokenId: '200'
                      name: Eclipse Dragon
                      description: Forged from starlight and shadows, the Eclipse Dragon emerges only during celestial alignments. Its obsidian scales shimmer with constellations, and its breath holds the power to bend time and space. Legends say that those who possess its essence gain unparalleled wisdom—though at the cost of fleeting moments lost to the void. Will you dare wield its mystic force?
                      image: ''
                      properties:
                        age: Ancient
                        alignment: Celestial
                        breath_power: Time Distortion
                        constellations_on_scales: 42
                        element: Shadow and Starlight
                        last_seen: During the Last Solar Eclipse
                        rarity: Legendary
                        size: Massive
                        temperament: Mysterious
                      attributes: null
                      updatedAt: '0001-01-01T00:00:00Z'
                    assets: null
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/GetToken:
    post:
      summary: GetToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_GetToken_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collectionId: 888
                  tokenId: '200'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_GetToken_Response'
              examples:
                '0':
                  value:
                    token:
                      tokenId: '200'
                      name: Eclipse Dragon
                      description: Forged from starlight and shadows, the Eclipse Dragon emerges only during celestial alignments. Its obsidian scales shimmer with constellations, and its breath holds the power to bend time and space. Legends say that those who possess its essence gain unparalleled wisdom—though at the cost of fleeting moments lost to the void. Will you dare wield its mystic force?
                      image: ''
                      properties:
                        age: Ancient
                        alignment: Celestial
                        breath_power: Time Distortion
                        constellations_on_scales: 42
                        element: Shadow and Starlight
                        last_seen: During the Last Solar Eclipse
                        rarity: Legendary
                        size: Massive
                        temperament: Mysterious
                      attributes: null
                      updatedAt: '2024-10-23T19:34:40.158987036Z'
                    assets: []
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/ListTokens:
    post:
      summary: ListTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_ListTokens_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collectionId: 888
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_ListTokens_Response'
              examples:
                '0':
                  value:
                    page:
                      pageSize: 30
                      more: false
                    tokens:
                    - tokenId: '200'
                      name: Eclipse Dragon
                      description: Forged from starlight and shadows, the Eclipse Dragon emerges only during celestial alignments. Its obsidian scales shimmer with constellations, and its breath holds the power to bend time and space. Legends say that those who possess its essence gain unparalleled wisdom—though at the cost of fleeting moments lost to the void. Will you dare wield its mystic force?
                      image: ''
                      properties:
                        age: Ancient
                        alignment: Celestial
                        breath_power: Time Distortion
                        constellations_on_scales: 42
                        element: Shadow and Starlight
                        last_seen: During the Last Solar Eclipse
                        rarity: Legendary
                        size: Massive
                        temperament: Mysterious
                      attributes: null
                      updatedAt: '2024-10-23T19:34:40.158987036Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - secret
      security:
      - BearerAuth:
        - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiMHhiZWU3NGU3ZmZkNzdkMThhZDJhOTg2ODEyZGE2MTc5ODk0MDY4ODZjIiwiaWF0IjoxNzQxNjg3NDg4LCJwcm9qZWN0IjoxNjgxNX0.LvTwKf0T6IBK9HuRFboXCNh2YY9d6EwDoQAlGYC80KQ
  /rpc/Collections/UpdateToken:
    post:
      summary: UpdateToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Collections_UpdateToken_Request'
            examples:
              '0':
                value:
                  projectId: 30957
                  collectionId: 888
                  tokenId: '200'
                  private: false
                  token:
                    tokenId: '201'
                    name: Eclipse Dragon
                    description: Forged from starlight and shadows, the Eclipse Dragon emerges only during celestial alignments. Its obsidian scales shimmer with constellations, and its breath holds the power to bend time and space. Legends say that those who possess its essence gain unparalleled wisdom—though at the cost of fleeting moments lost to the void. Will you dare wield its mystic force?
                    properties:
                      element: Shadow and Starlight
                      rarity: Legendary
                      alignment: Celestial
                      age: Ancient
                      size: Massive
                      breath_power: Time Distortion
                      temperament: Mysterious
                      constellations_on_scales: 42
                      last_seen: During the Last Solar Eclipse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections_UpdateToken_Response'
              examples:
                '0':
                  value:
                    token:
                      tokenId: '201'
                      name: Eclipse Dragon
                      description: Forged from starlight and shadows, the Eclipse Dragon emerges only during celestial alignments. Its obsidian scales shimmer with constellations, and its breath holds the power to bend time and space. Legends say that those who possess its essence gain unparalleled wisdom—though at the cost of fleeting moments lost to the void. Will you dare wield its mystic force?
                      image: ''
                      properties:
                        age: Ancient
                        alignment: Celestial
                        breath_power: Time Distortion
                        constellations_on_scales: 42
                        element: Shadow and Starlight
                        last_seen: During the Last Solar Eclipse
                        rarity: Legendary
                        size: Massive
                        temperament: Mysterious
                      attributes: null
                      updatedAt: '0001-01-01T00:00:00Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
[...]
