openapi: 3.2.0
info:
  title: Api Marketplace API
  version: 0.0.1
servers:
- url: https://marketplace-api.sequence.app/amoy/
  description: Amoy
- url: https://marketplace-api.sequence.app/apechain-mainnet/
  description: Apechain Mainnet
- url: https://marketplace-api.sequence.app/apechain-testnet/
  description: Apechain Testnet
- url: https://marketplace-api.sequence.app/arbitrum/
  description: Arbitrum
- url: https://marketplace-api.sequence.app/arbitrum-nova/
  description: Arbitrum Nova
- url: https://marketplace-api.sequence.app/arbitrum-sepolia/
  description: Arbitrum Sepolia
- url: https://marketplace-api.sequence.app/astar-zkevm/
  description: Astar zkEVM
- url: https://marketplace-api.sequence.app/astar-zkyoto/
  description: Astar zKyoto
- url: https://marketplace-api.sequence.app/avalanche/
  description: Avalanche
- url: https://marketplace-api.sequence.app/avalanche-testnet/
  description: Avalanche Testnet
- url: https://marketplace-api.sequence.app/b3/
  description: B3
- url: https://marketplace-api.sequence.app/b3-sepolia/
  description: B3 Sepolia
- url: https://marketplace-api.sequence.app/base/
  description: Base
- url: https://marketplace-api.sequence.app/base-sepolia/
  description: Base Sepolia
- url: https://marketplace-api.sequence.app/blast/
  description: Blast
- url: https://marketplace-api.sequence.app/blast-sepolia/
  description: Blast Sepolia
- url: https://marketplace-api.sequence.app/borne-testnet/
  description: Borne Testnet
- url: https://marketplace-api.sequence.app/bsc/
  description: BSC
- url: https://marketplace-api.sequence.app/bsc-testnet/
  description: BSC Testnet
- url: https://marketplace-api.sequence.app/gnosis/
  description: Gnosis
- url: https://marketplace-api.sequence.app/homeverse/
  description: Homeverse
- url: https://marketplace-api.sequence.app/homeverse-testnet/
  description: Homeverse Testnet
- url: https://marketplace-api.sequence.app/immutable-zkevm/
  description: Immutable zkEVM
- url: https://marketplace-api.sequence.app/immutable-zkevm-testnet/
  description: Immutable zkEVM Testnet
- url: https://marketplace-api.sequence.app/imx/
  description: IMX
- url: https://marketplace-api.sequence.app/imx-testnet/
  description: IMX Testnet
- url: https://marketplace-api.sequence.app/mainnet/
  description: Mainnet
- url: https://marketplace-api.sequence.app/optimism/
  description: Optimism
- url: https://marketplace-api.sequence.app/optimism-sepolia/
  description: Optimism Sepolia
- url: https://marketplace-api.sequence.app/polygon/
  description: Polygon
- url: https://marketplace-api.sequence.app/polygon-zkevm/
  description: Polygon zkEVM
- url: https://marketplace-api.sequence.app/rootnet/
  description: Rootnet
- url: https://marketplace-api.sequence.app/rootnet-porcini/
  description: Rootnet Porcini
- url: https://marketplace-api.sequence.app/sepolia/
  description: Sepolia
- url: https://marketplace-api.sequence.app/skale-nebula-testnet/
  description: SKALE Nebula Testnet
- url: https://marketplace-api.sequence.app/soneium-minato/
  description: Soneium Minato
- url: https://marketplace-api.sequence.app/toy-testnet/
  description: Toy Testnet
- url: https://marketplace-api.sequence.app/xai/
  description: Xai
- url: https://marketplace-api.sequence.app/xai-sepolia/
  description: Xai Sepolia
security:
- ApiKeyAuth: []
tags:
- name: Marketplace
paths:
  /rpc/Marketplace/ListCurrencies:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace list currencies
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCurrencies_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCurrencies_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceListCurrencies
      x-operation-id-source: derived
  /rpc/Marketplace/GetCollectionDetail:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get collection detail
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCollectionDetail_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCollectionDetail_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetCollectionDetail
      x-operation-id-source: derived
  /rpc/Marketplace/GetCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/GetLowestPriceOfferForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get lowest price offer for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetLowestPriceOfferForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetLowestPriceOfferForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetLowestPriceOfferForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/GetHighestPriceOfferForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get highest price offer for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetHighestPriceOfferForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetHighestPriceOfferForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetHighestPriceOfferForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/GetLowestPriceListingForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get lowest price listing for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetLowestPriceListingForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetLowestPriceListingForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetLowestPriceListingForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/GetHighestPriceListingForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get highest price listing for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetHighestPriceListingForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetHighestPriceListingForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetHighestPriceListingForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/ListListingsForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace list listings for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListListingsForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListListingsForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceListListingsForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/ListOffersForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace list offers for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListOffersForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListOffersForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceListOffersForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/GetCountOfListingsForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get count of listings for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCountOfListingsForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCountOfListingsForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetCountOfListingsForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/GetCountOfOffersForCollectible:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get count of offers for collectible
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCountOfOffersForCollectible_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCountOfOffersForCollectible_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetCountOfOffersForCollectible
      x-operation-id-source: derived
  /rpc/Marketplace/GetCollectibleLowestOffer:
    post:
      tags:
      - Marketplace
      summary: 'Deprecated: Please use GetLowestPriceOfferForCollectible instead'
      deprecated: true
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCollectibleLowestOffer_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCollectibleLowestOffer_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceGetCollectibleLowestOffer
      x-operation-id-source: derived
  /rpc/Marketplace/GetCollectibleHighestOffer:
    post:
      tags:
      - Marketplace
      summary: 'Deprecated: Please use GetHighestPriceOfferForCollectible instead'
      deprecated: true
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCollectibleHighestOffer_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCollectibleHighestOffer_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceGetCollectibleHighestOffer
      x-operation-id-source: derived
  /rpc/Marketplace/GetCollectibleLowestListing:
    post:
      tags:
      - Marketplace
      summary: 'Deprecated: Please use GetLowestPriceListingForCollectible instead'
      deprecated: true
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCollectibleLowestListing_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCollectibleLowestListing_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceGetCollectibleLowestListing
      x-operation-id-source: derived
  /rpc/Marketplace/GetCollectibleHighestListing:
    post:
      tags:
      - Marketplace
      summary: 'Deprecated: Please use GetHighestPriceListingForCollectible instead'
      deprecated: true
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCollectibleHighestListing_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCollectibleHighestListing_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceGetCollectibleHighestListing
      x-operation-id-source: derived
  /rpc/Marketplace/ListCollectibleListings:
    post:
      tags:
      - Marketplace
      summary: 'Deprecated: Please use ListListingsForCollectible instead'
      deprecated: true
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCollectibleListings_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCollectibleListings_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceListCollectibleListings
      x-operation-id-source: derived
  /rpc/Marketplace/ListCollectibleOffers:
    post:
      tags:
      - Marketplace
      summary: 'Deprecated: Please use ListOffersForCollectible instead'
      deprecated: true
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCollectibleOffers_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCollectibleOffers_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceListCollectibleOffers
      x-operation-id-source: derived
  /rpc/Marketplace/GenerateBuyTransaction:
    post:
      tags:
      - Marketplace
      summary: checkout process
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GenerateBuyTransaction_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GenerateBuyTransaction_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceGenerateBuyTransaction
      x-operation-id-source: derived
  /rpc/Marketplace/GenerateSellTransaction:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace generate sell transaction
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GenerateSellTransaction_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GenerateSellTransaction_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGenerateSellTransaction
      x-operation-id-source: derived
  /rpc/Marketplace/GenerateListingTransaction:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace generate listing transaction
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GenerateListingTransaction_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GenerateListingTransaction_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGenerateListingTransaction
      x-operation-id-source: derived
  /rpc/Marketplace/GenerateOfferTransaction:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace generate offer transaction
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GenerateOfferTransaction_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GenerateOfferTransaction_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGenerateOfferTransaction
      x-operation-id-source: derived
  /rpc/Marketplace/GenerateCancelTransaction:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace generate cancel transaction
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GenerateCancelTransaction_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GenerateCancelTransaction_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGenerateCancelTransaction
      x-operation-id-source: derived
  /rpc/Marketplace/ListCollectibles:
    post:
      tags:
      - Marketplace
      summary: list of collectibles with best order for each collectible, by default this only…
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCollectibles_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCollectibles_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      operationId: postRpcMarketplaceListCollectibles
      x-operation-id-source: derived
  /rpc/Marketplace/GetCountOfAllCollectibles:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get count of all collectibles
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCountOfAllCollectibles_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCountOfAllCollectibles_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetCountOfAllCollectibles
      x-operation-id-source: derived
  /rpc/Marketplace/GetCountOfFilteredCollectibles:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get count of filtered collectibles
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetCountOfFilteredCollectibles_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetCountOfFilteredCollectibles_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetCountOfFilteredCollectibles
      x-operation-id-source: derived
  /rpc/Marketplace/GetFloorOrder:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get floor order
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetFloorOrder_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetFloorOrder_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetFloorOrder
      x-operation-id-source: derived
  /rpc/Marketplace/ListCollectionActivities:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace list collection activities
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCollectionActivities_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCollectionActivities_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceListCollectionActivities
      x-operation-id-source: derived
  /rpc/Marketplace/ListCollectibleActivities:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace list collectible activities
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCollectibleActivities_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCollectibleActivities_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceListCollectibleActivities
      x-operation-id-source: derived
  /rpc/Marketplace/ListCollectiblesWithLowestListing:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace list collectibles with lowest listing
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCollectiblesWithLowestListing_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCollectiblesWithLowestListing_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceListCollectiblesWithLowestListing
      x-operation-id-source: derived
  /rpc/Marketplace/ListCollectiblesWithHighestOffer:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace list collectibles with highest offer
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_ListCollectiblesWithHighestOffer_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_ListCollectiblesWithHighestOffer_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceListCollectiblesWithHighestOffer
      x-operation-id-source: derived
  /rpc/Marketplace/GetOrders:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace get orders
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_GetOrders_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_GetOrders_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceGetOrders
      x-operation-id-source: derived
  /rpc/Marketplace/CheckoutOptionsMarketplace:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace checkout options marketplace
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_CheckoutOptionsMarketplace_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_CheckoutOptionsMarketplace_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceCheckoutOptionsMarketplace
      x-operation-id-source: derived
  /rpc/Marketplace/CheckoutOptionsSalesContract:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace checkout options sales contract
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_CheckoutOptionsSalesContract_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_CheckoutOptionsSalesContract_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceCheckoutOptionsSalesContract
      x-operation-id-source: derived
  /rpc/Marketplace/SupportedMarketplaces:
    post:
      tags:
      - Marketplace
      summary: Create rpc marketplace supported marketplaces
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Marketplace_SupportedMarketplaces_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketplace_SupportedMarketplaces_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorUserNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorInvalidTier'
                - $ref: '#/components/schemas/ErrorProjectLimitReached'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorNotImplemented'
      x-summary-source: derived
      operationId: postRpcMarketplaceSupportedMarketplaces
      x-operation-id-source: derived
components:
  schemas:
    Marketplace_GenerateCancelTransaction_Response:
      type: object
      properties:
        steps:
          type: array
          description: '[]Step'
          items:
            $ref: '#/components/schemas/Step'
    Marketplace_ListCollectionActivities_Response:
      type: object
      properties:
        activities:
          type: array
          description: '[]Activity'
          items:
            $ref: '#/components/schemas/Activity'
        page:
          $ref: '#/components/schemas/Page'
    PropertyType:
      type: string
      description: Represented as uint32 on the server side
      enum:
      - INT
      - STRING
      - ARRAY
      - GENERIC
    AdditionalFee:
      type: object
      required:
      - amount
      - receiver
      properties:
        amount:
          type: string
        receiver:
          type: string
    Marketplace_GetCollectible_Response:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/TokenMetadata'
    OrderbookKind:
      type: string
      description: Represented as uint32 on the server side
      enum:
      - unknown
      - sequence_marketplace_v1
      - sequence_marketplace_v2
      - blur
      - opensea
      - looks_rare
      - reservoir
      - x2y2
    ErrorPermissionDenied:
      type: object
      required:
      - error
      - code
      - msg
      - status
      properties:
        error:
          type: string
          example: PermissionDenied
        code:
          type: number
          example: 1001
        msg:
          type: string
          example: Permission denied
        cause:
          type: string
        status:
          type: number
          example: 403
    ErrorWebrpcBadRequest:
      type: object
      required:
      - error
      - code
      - msg
      - status
      properties:
        error:
          type: string
          example: WebrpcBadRequest
        code:
          type: number
          example: -4
        msg:
          type: string
          example: bad request
        cause:
          type: string
        status:
          type: number
          example: 400
    Marketplace_ListCurrencies_Request:
      type: object
    Marketplace_GetCollectibleHighestListing_Response:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/Order'
    Marketplace_GetCollectible_Request:
      type: object
      properties:
        contractAddress:
          type: string
        tokenId:
          type: string
    Marketplace_GetLowestPriceListingForCollectible_Request:
      type: object
      properties:
        contractAddress:
          type: string
        tokenId:
          type: string
        filter:
          $ref: '#/components/schemas/OrderFilter'
    Marketplace_GenerateSellTransaction_Response:
      type: object
      properties:
        steps:
          type: array
          description: '[]Step'
          items:
            $ref: '#/components/schemas/Step'
    ErrorTimeout:
      type: object
      required:
      - error
      - code
      - msg
      - status
      properties:
        error:
          type: string
          example: Timeout
        code:
          type: number
          example: 2000
        msg:
          type: string
          example: Request timed out
        cause:
          type: string
        status:
          type: number
          example: 408
    Marketplace_GetFloorOrder_Response:
      type: object
      properties:
        collectible:
          $ref: '#/components/schemas/CollectibleOrder'
    Marketplace_ListListingsForCollectible_Request:
      type: object
      properties:
        contractAddress:
          type: string
        tokenId:
          type: string
        filter:
          $ref: '#/components/schemas/OrderFilter'
        page:
          $ref: '#/components/schemas/Page'
    Marketplace_GetCollectibleLowestOffer_Response:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/Order'
    Marketplace_GetCountOfFilteredCollectibles_Request:
      type: object
      properties:
        side:
          $ref: '#/components/schemas/OrderSide'
        contractAddress:
          type: string
        filter:
          $ref: '#/components/schemas/CollectiblesFilter'
    FeeBreakdown:
      type: object
      required:
      - kind
      - recipientAddress
      - bps
      properties:
        kind:
          type: string
        recipientAddress:
          type: string
        bps:
          type: number
    TransactionSwapProvider:
      type: string
      description: Represented as uint32 on the server side
      enum:
      - unknown
      - zerox
    Marketplace_ListCollectiblesWithHighestOffer_Request:
      type: object
      properties:
        contractAddress:
          type: string
        filter:
          $ref: '#/components/schemas/CollectiblesFilter'
        page:
          $ref: '#/components/schemas/Page'
    Marketplace_ListCollectiblesWithHighestOffer_Response:
      type: object
      properties:
        collectibles:
          type: array
          description: '[]CollectibleOrder'
          items:
            $ref: '#/components/schemas/CollectibleOrder'
        page:
          $ref: '#/components/schemas/Page'
    SortBy:
      type: object
      required:
      - column
      - order
      properties:
        column:
          type: string
        order:
          $ref: '#/components/schemas/SortOrder'
    Marketplace_GetHighestPriceOfferForCollectible_Request:
      type: object
      properties:
        contractAddress:
          type: string
        tokenId:
          type: string
        filter:
          $ref: '#/components/schemas/OrderFilter'
    OrderStatus:
      type: string
      description: Represented as uint8 on the server side
      enum:
      - unknown
      - active
      - inactive
      - expired
      - cancelled
      - filled
      - decimals_missing
    ExecuteType:
      type: string
      description: Represented as uint32 on the server side
      enum:
      - unknown
      - order
    Marketplace_GetCountOfFilteredCollectibles_Response:
      type: object
      properties:
        count:
          type: number
    Marketplace_ListCollectiblesWithLowestListing_Response:
      type: object
      properties:
        collectibles:
          type: array
          description: '[]CollectibleOrder'
          items:
            $ref: '#/components/schemas/CollectibleOrder'
        page:
          $ref: '#/components/schemas/Page'
    ActivityAction:
      type: string
      description: Represented as uint8 on the server side
      enum:
      - unknown
      - listing
      - offer
      - mint
      - sale
      - listingCancel
      - offerCancel
      - transfer
    Marketplace_GetCollectibleLowestOffer_Request:
      type: object
      properties:
        contractAddress:
          type: string
        tokenId:
          type: string
        filter:
          $ref: '#/components/schemas/OrderFilter'
    ErrorWebrpcEndpoint:
      type: object
      required:
      - error
      - code
      - msg
      - status
      properties:
        error:
          type: string
          example: WebrpcEndpoint
        code:
          type: number
          example: 0
        msg:
          type: string
          example: endpoint error
        cause:
          type: string
        status:
          type: number
          example: 400
    Marketplace_GetFloorOrder_Request:
      type: object
      properties:
        contractAddress:
          type: string
        filter:
          $ref: '#/components/schemas/CollectiblesFilter'
    Marketplace_ListOffersForCollectible_Request:
      type: object
      properties:
        contractAddress:
          type: string
        tokenId:
          type: string
        filter:
          $ref: '#/components/schemas/OrderFilter'
        page:
          $ref: '#/components/schemas/Page'
    Marketplace_GetCollectionDetail_Response:
      type: object
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
    ErrorWebrpcBadRoute:
      type: object
      required:
      - error
      - code
      - msg
      - status
      properties:
        error:
          type: string
          example: WebrpcBadRoute
        code:
          type: number
          example: -2
        msg:
          type: string
          example: bad route
        cause:
          type: string
        status:
          type: number
          example: 404
    Marketplace_CheckoutOptionsSalesContract_Request:
      type: object
      properties:
        wallet:
          type: string
        contractAddress:
          type: string
        collectionAddress:
          type: string
        items:
          type: array
          description: '[]CheckoutOptionsItem'
          items:
            $ref: '#/components/schemas/CheckoutOptionsItem'
    Marketplace_GetLowestPriceOfferForCollectible_Response:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/Order'
    ErrorInvalidTier:
      type: object
      required:
      - error
      - code
      - msg
      - status
      properties:
        error:
          type: string
          example: InvalidTier
        code:
          type: number
          example: 3003
        msg:
          type: string
          example: Invalid subscription tier
        cause:
          type: string
        status:
          type: number
          example: 400
    Marketplace_GenerateSellTransaction_Request:
      type: object
      properties:
        collectionAddress:
          type: string
        seller:
          type: string
        marketplace:
          $ref: '#/components/schemas/MarketplaceKind'
        ordersData:
          type: array
          description: '[]OrderData'
          items:
            $ref: '#/components/schemas/OrderData'
        additionalFees:
          type: array
          description: '[]AdditionalFee'
          items:
            $ref: '#/components/schemas/AdditionalFee'
        walletType:
[...]
