openapi: 3.0.0
info:
  title: Api Analytics public API
  version: 0.0.1
  description: Endpoints accessible by passing your project-access-key in the header. This is injected whenever you login automatically.
servers:
- url: https://api.sequence.app
  description: Analytics
security:
- ApiKeyAuth: []
tags:
- name: public
  description: Endpoints accessible by passing your project-access-key in the header. This is injected whenever you login automatically.
paths:
  /rpc/Indexer/GetNativeTokenBalance:
    post:
      summary: GetNativeTokenBalance
      description: GetNativeTokenBalance queries an ethereum node for the latest native token account balance. The native token is the token of the chain the indexer is connected to, for example, ETH on Ethereum and POL on Polygon.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetNativeTokenBalance_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetNativeTokenBalance_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetTokenBalancesSummary:
    post:
      summary: GetTokenBalancesSummary
      description: On Sepolia Mainnet, get the token balance summaries for an account address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalancesSummary_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalancesSummary_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetTokenBalancesDetails:
    post:
      summary: GetTokenBalancesDetails
      description: On Sepolia Mainnet, get the token balance details for tokens owned by an account address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalancesDetails_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalancesDetails_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetTokenBalancesByContract:
    post:
      summary: GetTokenBalancesByContract
      description: On Sepolia Mainnet, get the token balances by a specific contract address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalancesByContract_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalancesByContract_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetTokenBalances:
    post:
      summary: GetTokenBalances
      description: Get the token balances for the included account address and contract address. Example on Ethereum Sepolia
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalances_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalances_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetTokenSupplies:
    post:
      summary: GetTokenSupplies
      description: GetTokenSupplies returns the set of tokenIDs used by a contract address, supporting ERC-20, ERC-721, and ERC-1155 contracts, and their respective supply as well.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenSupplies_Request'
            example:
              contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenSupplies_Response'
              example:
                page:
                  pageSize: 200
                  more: false
                contractType: ERC1155
                tokenIDs:
                - tokenID: '0'
                  supply: '9'
                  chainId: 1
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetTokenSuppliesMap:
    post:
      summary: GetTokenSuppliesMap
      description: On Sepolia Mainnet, get the token supplies of the minted tokens for a contract address and token ID mapping
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenSuppliesMap_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenSuppliesMap_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetBalanceUpdates:
    post:
      summary: GetBalanceUpdates
      description: Get balance update aggregate values -- useful for syncing balance details of a contract, ie. from Skyweaver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetBalanceUpdates_Request'
            example:
              contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
              lastBlockNumber: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetBalanceUpdates_Response'
              example:
                page:
                  pageSize: 200
                  more: false
                balances:
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0xc48835421ce2651bc5f78ee59d1e10244753c7fc'
                  tokenID: '0'
                  balance: '8'
                  blockHash: '0x4db688b03de5804dd6e916ebafbc687aa3196c99288fbc63698e92c855400ff3'
                  blockNumber: 20126805
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: ''
                  tokenID: '0'
                  balance: '9'
                  blockHash: '0xd5e2e041f9d292b25076a512e198d183a55d21440be15e9869c0b1b7d9b179f5'
                  blockNumber: 20363254
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0x0000000000000000000000000000000000000000'
                  tokenID: '0'
                  balance: '-9'
                  blockHash: '0xd5e2e041f9d292b25076a512e198d183a55d21440be15e9869c0b1b7d9b179f5'
                  blockNumber: 20363254
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0xbabebe9fe973a5735d486bf6d31e9a027248024e'
                  tokenID: '0'
                  balance: '1'
                  blockHash: '0x080ea6171f82705555cd1248f73ce1d61dbcbd68f5eefab44b64dec2293a695f'
                  blockNumber: 20692108
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                  tokenID: '0'
                  balance: '0'
                  blockHash: '0x080ea6171f82705555cd1248f73ce1d61dbcbd68f5eefab44b64dec2293a695f'
                  blockNumber: 20692108
                  chainId: 1
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/GetTransactionHistory:
    post:
      summary: GetTransactionHistory
      description: History of mined transactions for the account which includes a list of token transfers (sent/recieved) and sent transactions from a Sequence wallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTransactionHistory_Request'
            example:
              accountAddress: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTransactionHistory_Response'
              example:
                page:
                  after: rmExGgC37OVhMnhCMHhiMjMzM2NlNDliNzlmMzcyOGUwYWFjNzNlNGMwNzYzYmVjODBlYmVmZGViZWZlOWU1ZDVmZGNiNWVmNzMyZWE2YTN4KjB4ZTZlYjI4Mzk4Y2NiZTQ2YWE1MDViNjJiOTY4MjJjMmNlOGRhYWJmNGE0eCoweGRkOTAxMjY4NTY5NTdhYTFlOWM1Y2MzMzk1ZTg2NmI2ZWI4MzBhNDRhNQJhNngqMHgwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwYTd4KjB4ZTZlYjI4Mzk4Y2NiZTQ2YWE1MDViNjJiOTY4MjJjMmNlOGRhYWJmNGE4eEIweDJkNmFiZmE1MTI2NDRmYzVjMjY2Nzk2ZTg4MzMxYmY0MWNhZDc1YWFlMjE4ZDQxODk0ODU1MzU4ZDhjODlhMGRhOQBhYQFhYmBhZIFDIjAiYWWBRCI2MiJhYxpm6I0N
                  pageSize: 10
                  more: true
                transactions:
                - txnHash: '0x64628263b93ccad7dfd6fb1a81f1bcdadd0eb89649e0a43bdf65f639fddcd319'
                  blockNumber: 12215569
                  blockHash: '0x05a4b055603a0b0cdb9e0d1bc28088bb4fca79a83d32bdc4a98d665e06ae7564'
                  chainId: 80002
                  metaTxnID: null
                  transfers:
                  - transferType: RECEIVE
                    contractAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                    contractType: ERC20
                    from: '0x0000000000000000000000000000000000000000'
                    to: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIds:
                    - '0'
                    amounts:
                    - '33'
                    logIndex: 9
                    contractInfo:
                      chainId: 80002
                      address: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                      name: Oracle Token
                      type: ERC20
                      symbol: ''
                      deployed: true
                      bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                      extensions:
                        link: ''
                        description: ''
                        ogImage: ''
                        originChainId: 0
                        originAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                        verified: true
                        verifiedBy: Sequence Builder
                      updatedAt: '0001-01-01T00:00:00Z'
                  timestamp: '2024-09-20T20:36:45Z'
                - txnHash: '0x5aae198a65b993a767bd495ea77b7825e0e884d9dcc446a1515097eb962814d6'
                  blockNumber: 12213913
                  blockHash: '0x726ccdee4ef384493f96c666e959258ba70689bd6553c098a51542b2627a8b22'
                  chainId: 80002
                  metaTxnID: null
                  transfers:
                  - transferType: RECEIVE
                    contractAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                    contractType: ERC20
                    from: '0x0000000000000000000000000000000000000000'
                    to: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIds:
                    - '0'
                    amounts:
                    - '1000'
                    logIndex: 1
                    contractInfo:
                      chainId: 80002
                      address: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                      name: Oracle Token
                      type: ERC20
                      symbol: ''
                      deployed: true
                      bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                      extensions:
                        link: ''
                        description: ''
                        ogImage: ''
                        originChainId: 0
                        originAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                        verified: true
                        verifiedBy: Sequence Builder
                      updatedAt: '0001-01-01T00:00:00Z'
                  timestamp: '2024-09-20T19:37:18Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/FetchTransactionReceipt:
    post:
      summary: FetchTransactionReceipt
      description: On Sepolia Mainnet, get the transaction receipt for a specific hash after a certain number of blocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_FetchTransactionReceipt_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_FetchTransactionReceipt_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/FetchTransactionReceiptWithFilter:
    post:
      summary: FetchTransactionReceiptWithFilter
      description: On Sepolia Mainnet, get the transaction receipt for a specific hash after a certain number of blocks for a certain filter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_FetchTransactionReceiptWithFilter_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_FetchTransactionReceiptWithFilter_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/SubscribeReceipts:
    post:
      summary: SubscribeReceipts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_SubscribeReceipts_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_SubscribeReceipts_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      description: On Sepolia Mainnet, subscribe and receive receipts based on a filter of transaction hash and transaction details
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/SubscribeEvents:
    post:
      summary: SubscribeEvents
      description: On Sepolia Mainnet, subscribe and receive receipts based on a filter of transaction mints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_SubscribeEvents_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_SubscribeEvents_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Indexer/SubscribeBalanceUpdates:
    post:
      summary: SubscribeBalanceUpdates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_SubscribeBalanceUpdates_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_SubscribeBalanceUpdates_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      description: On Sepolia Mainnet, subscribe and receive balance updates based on the affected address, like wallet and contract address, with specific details
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/RefreshTokenMetadata:
    post:
      summary: RefreshTokenMetadata
      deprecated: true
      description: Deprecated -> Use RefreshContractInfo, RefreshContractTokens or RefreshAllContractTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_RefreshTokenMetadata_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b99279'
                  tokenIDs:
                  - '0'
                  - '1'
                  refreshAll: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_RefreshTokenMetadata_Response'
              examples:
                '0':
                  value:
                    taskId: 64137
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/EnqueueTokensForRefresh:
    post:
      summary: EnqueueTokensForRefresh
      deprecated: true
      description: Deprecated -> RefreshContractTokens or RefreshAllContractTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_EnqueueTokensForRefresh_Request'
            examples:
              '0':
                value:
                  chainId: '80002'
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                  tokenIds:
                  - '0'
                  - '1'
                  - '2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_EnqueueTokensForRefresh_Response'
              examples:
                '0':
                  value:
                    taskId: 64352
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/GetTokenMetadata:
    post:
      summary: GetTokenMetadata
      description: GetTokenMetadata - fetch token metadata for a particular contract and respective tokenIDs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetTokenMetadata_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractAddress: '0xaf8a08bf8b2945c2779ae507dade15985ea11fbc'
                  tokenIDs:
                  - '19371963813488842961773981353605630758075094402'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetTokenMetadata_Response'
              examples:
                '0':
                  value:
                    tokenMetadata:
                    - tokenId: '19371963813488842961773981353605630758075094402'
                      name: Dragon Shield Shield
                      description: A free AI treasure chest mini-game
                      image: https://metadata.sequence.app/projects/1229/collections/40/tokens/19371963813488842961773981353605630758075094402/image.png
                      properties: null
                      attributes:
                      - display_type: category
                        trait_type: Category
                        value: defensive
                      - display_type: defense_min
                        trait_type: Defense Minimum
                        value: '59'
                      - display_type: defense_max
                        trait_type: Defense Maximum
                        value: '67'
                      - display_type: tier
                        trait_type: tier
                        value: Common
                      - display_type: type
                        trait_type: type
                        value: Shield
                      decimals: 0
                      updatedAt: '2024-10-10T18:08:04.22766865Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/GetTokenMetadataBatch:
    post:
      summary: GetTokenMetadataBatch
      description: 'GetTokenMetadataBatch allows you to query the token metadata of a batch of contracts and respective tokenIDs where map is contractAddress::[]tokenID => contractAddress::[]TokenMetadata

        Note, we limit each request to 50 contracts max and 50 tokens max per contract.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetTokenMetadataBatch_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractTokenMap:
                    '0x8070c5b48b1ce7b3219660c79b23e8679bfd5041':
                    - '0'
                    - '1'
                    '0x70a2177079877e4aae639d1abb29ffa537b94970':
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                    - '4'
                    - '5'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetTokenMetadataBatch_Response'
              examples:
                '0':
                  value:
                    contractTokenMetadata:
                      '0x70a2177079877e4aae639d1abb29ffa537b94970':
                      - tokenId: '0'
                        name: 'Divine Axe #160'
                        description: This legendary axe, blessed by ancient gods, capable of shattering mountains.
                        image: https://metadata.sequence.app/projects/30957/collections/819/tokens/0/image.png
                        properties: null
                        attributes:
                        - sharpness: 1120
                        - attackPower: 463
                        - weight: 700
                        - criticalHitChance: 1218
                        updatedAt: '2024-11-01T08:29:29.848063928Z'
                      - tokenId: '1'
                        name: 'Divine Axe #724'
                        description: This powerful axe, blessed by ancient gods, with the power to summon storms.
                        image: https://metadata.sequence.app/projects/30957/collections/819/tokens/1/image.png
                        properties: null
                        attributes:
                        - speed: 1491
                        - edgeRetention: 1198
                        - criticalHitChance: 370
                        - attackPower: 396
                        updatedAt: '2024-11-01T08:29:29.848063928Z'
                      - tokenId: '2'
                        name: 'Divine Axe #819'
                        description: This ancient axe, blessed by ancient gods, capable of shattering mountains.
                        image: https://metadata.sequence.app/projects/30957/collections/819/tokens/2/image.png
                        properties: null
                        attributes:
                        - balance: 81
                        - edgeRetention: 283
                        - sharpness: 105
                        - durability: 338
                        updatedAt: '2024-11-01T08:29:29.848063928Z'
                      - tokenId: '3'
                        name: 'Divine Axe #948'
                        description: This enchanted axe, crafted by the hands of giants, which never dulls.
                        image: https://metadata.sequence.app/projects/30957/collections/819/tokens/3/image.png
                        properties: null
                        attributes:
                        - speed: 1314
                        - balance: 1235
                        - weight: 48
                        - magic: 826
                        updatedAt: '2024-11-01T08:29:29.848063928Z'
                      - tokenId: '4'
                        name: 'Divine Axe #031'
                        description: This powerful axe, forged in the fires of a dying star, which never dulls.
                        image: https://metadata.sequence.app/projects/30957/collections/819/tokens/4/image.png
                        properties: null
                        attributes:
                        - speed: 1144
                        - elementalAffinity: 1315
                        - edgeRetention: 1128
                        - sharpness: 1232
                        updatedAt: '2024-11-01T08:29:29.848063928Z'
                      - tokenId: '5'
                        name: 'Divine Axe #452'
                        description: This enchanted axe, crafted by the hands of giants, with the power to summon storms.
                        image: https://metadata.sequence.app/projects/30957/collections/819/tokens/5/image.png
                        properties: null
                        attributes:
                        - elementalAffinity: 803
                        - durability: 83
                        - criticalHitChance: 268
                        - balance: 1039
                        updatedAt: '2024-11-01T08:29:29.848063928Z'
                      '0x8070c5b48b1ce7b3219660c79b23e8679bfd5041':
                      - tokenId: '0'
                        name: Test nft erc721
                        description: Description
                        image: https://metadata.sequence.app/projects/30957/collections/273/tokens/0/image.jpg
                        properties:
                          armor: '100'
                        attributes: null
                        updatedAt: '2024-11-01T08:18:33.514523974Z'
                      - tokenId: '1'
                        name: NFT 2 Amoy
                        description: Description
                        image: https://metadata.sequence.app/projects/30957/collections/273/tokens/1/image.jpg
                        properties: null
                        attributes: null
                        updatedAt: '2024-11-01T08:18:33.514523974Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/SearchTokenMetadata:
    post:
      summary: SearchTokenMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchTokenMetadata_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                  filter:
                    text: Divine
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchTokenMetadata_Response'
              examples:
                '0':
                  value:
                    page:
                      pageSize: 10
                      more: false
                    tokenMetadata:
                    - tokenId: '0'
                      name: 'Divine Axe #160'
                      description: This legendary axe, blessed by ancient gods, capable of shattering mountains.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/0/image.png
                      properties: null
                      attributes:
                      - sharpness: 1120
                      - attackPower: 463
                      - weight: 700
                      - criticalHitChance: 1218
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '1'
                      name: 'Divine Axe #724'
                      description: This powerful axe, blessed by ancient gods, with the power to summon storms.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/1/image.png
                      properties: null
                      attributes:
                      - speed: 1491
                      - edgeRetention: 1198
                      - criticalHitChance: 370
                      - attackPower: 396
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '2'
                      name: 'Divine Axe #819'
                      description: This ancient axe, blessed by ancient gods, capable of shattering mountains.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/2/image.png
                      properties: null
                      attributes:
                      - balance: 81
                      - edgeRetention: 283
                      - sharpness: 105
                      - durability: 338
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '3'
                      name: 'Divine Axe #948'
                      description: This enchanted axe, crafted by the hands of giants, which never dulls.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/3/image.png
                      properties: null
                      attributes:
                      - speed: 1314
                      - balance: 1235
                      - weight: 48
                      - magic: 826
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '4'
                      name: 'Divine Axe #031'
                      description: This powerful axe, forged in the fires of a dying star, which never dulls.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/4/image.png
                      properties: null
                      attributes:
                      - speed: 1144
                      - elementalAffinity: 1315
                      - edgeRetention: 1128
                      - sharpness: 1232
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '5'
                      name: 'Divine Axe #452'
                      description: This enchanted axe, crafted by the hands of giants, with the power to summon storms.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/5/image.png
                      properties: null
                      attributes:
                      - elementalAffinity: 803
                      - durability: 83
                      - criticalHitChance: 268
                      - balance: 1039
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '6'
                      name: 'Divine Axe #689'
                      description: This cursed axe, forged in the fires of a dying star, which never dulls.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/6/image.png
                      properties: null
                      attributes:
                      - speed: 1088
                      - elementalAffinity: 1195
                      - magic: 1398
                      - sharpness: 1069
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '7'
                      name: 'Divine Axe #759'
                      description: This ancient axe, blessed by ancient gods, with the power to summon storms.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/7/image.png
                      properties: null
                      attributes:
                      - balance: 670
                      - elementalAffinity: 514
                      - weight: 146
                      - edgeRetention: 747
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '8'
                      name: 'Divine Axe #599'
                      description: This enchanted axe, crafted by the hands of giants, capable of shattering mountains.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/8/image.png
                      properties: null
                      attributes:
                      - criticalHitChance: 375
                      - weight: 531
                      - speed: 1300
                      - edgeRetention: 368
                      updatedAt: '0001-01-01T00:00:00Z'
                    - tokenId: '9'
                      name: 'Divine Axe #364'
                      description: This cursed axe, imbued with the souls of fallen warriors, which never dulls.
                      image: https://metadata.sequence.app/projects/30957/collections/819/tokens/9/image.png
                      properties: null
                      attributes:
                      - weight: 109
                      - balance: 395
                      - durability: 863
                      - speed: 484
                      updatedAt: '0001-01-01T00:00:00Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/SearchTokenIDs:
    post:
      summary: SearchTokenIDs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchTokenIDs_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                  filter:
                    text: Divine
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchTokenIDs_Response'
              examples:
                '0':
                  value:
                    page: null
                    tokenIds:
                    - '0'
                    - '1'
                    - '2'
                    - '3'
                    - '4'
                    - '5'
                    - '6'
                    - '7'
                    - '8'
                    - '9'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/TokenCollectionFilters:
    post:
      summary: TokenCollectionFilters
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_TokenCollectionFilters_Request'
            examples:
              '0':
                value:
                  chainId: '80002'
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_TokenCollectionFilters_Response'
              examples:
                '0':
                  value:
                    filters:
                    - name: Rarity
                      type: STRING
                      min: null
                      max: null
                      values:
                      - Rare
                    - name: Type
                      type: STRING
                      min: null
                      max: null
                      values:
                      - Knife
                    - name: Model
                      type: STRING
                      min: null
                      max: null
                      values:
                      - Butterfly
                    - name: Condition
                      type: STRING
                      min: null
                      max: null
                      values:
                      - Slightly Used (SU)
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/GetContractInfo:
    post:
      summary: GetContractInfo
      description: Contract Info -- returns contract meta-info for contracts found in registered chain's token-lists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetContractInfo_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetContractInfo_Response'
              examples:
                '0':
                  value:
                    contractInfo:
                      chainId: 80002
                      address: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                      name: Placeholders
                      type: ERC721
                      symbol: ''
                      logoURI: https://metadata.sequence.app/projects/30957/collections/819/image.png
                      deployed: true
                      bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                      extensions:
                        link: ''
                        description: Placeholders collection
                        ogImage: https://metadata.sequence.app/projects/30957/collections/819/image.png
                        ogName: Vault for Sales
                        originChainId: 0
                        originAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                        verified: true
                        verifiedBy: token-directory
                      updatedAt: '2024-10-22T21:10:39.267327075Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/GetContractInfoBatch:
    post:
      summary: GetContractInfoBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_GetContractInfoBatch_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractAddresses:
                  - '0x33c7848db3d37103718736d233f0db65cc222b1e'
                  - '0x70a2177071177e4aae639d1abb23ffa537b94970'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_GetContractInfoBatch_Response'
              examples:
                '0':
                  value:
                    contractInfoMap:
                      '0x33c7848db3d37103718736d233f0db65cc222b1e':
                        chainId: 80002
                        address: '0x33c7848db3d37103718736d233f0db65cc222b1e'
                        name: Knives
                        type: ERC1155
                        symbol: ''
                        logoURI: https://metadata.sequence.app/projects/35598/collections/827/image.png
                        deployed: true
                        bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                        extensions:
                          link: https://baseurl/collections/collectioname
                          description: All knives from Alternates can be found in this category.
                          ogImage: https://metadata.sequence.app/projects/35598/collections/827/image.png
                          ogName: Knives
                          originChainId: 0
                          originAddress: '0x33c7848db3d37103718736d233f0db65cc222b1e'
                          verified: true
                          verifiedBy: token-directory
                        updatedAt: '2024-10-23T06:12:24.243404151Z'
                      '0x70a2177071177e4aae639d1abb23ffa537b94970':
                        chainId: 80002
                        address: '0x70a2177071177e4aae639d1abb23ffa537b94970'
                        name: Placeholders
                        type: ERC721
                        symbol: ''
                        logoURI: https://metadata.sequence.app/projects/30957/collections/819/image.png
                        deployed: true
                        bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                        extensions:
                          link: ''
                          description: Placeholders collection
                          ogImage: https://metadata.sequence.app/projects/30957/collections/819/image.png
                          ogName: Vault for Sales
                          originChainId: 0
                          originAddress: '0x70a2177071177e4aae639d1abb23ffa537b94970'
                          verified: true
                          verifiedBy: token-directory
                        updatedAt: '2024-10-23T05:53:19.171080211Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/SearchContractInfo:
    post:
      summary: SearchContractInfo
      description: Search Contract Info across all chains token-lists. Similar to GetContractInfo above, but it will traverse all chains and results from all.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchContractInfo_Request'
            examples:
              '0':
                value:
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchContractInfo_Response'
              examples:
                '0':
                  value:
                    contractInfoList:
                    - chainId: 80002
                      address: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                      name: Placeholders
                      type: ERC721
                      symbol: ''
                      logoURI: https://metadata.sequence.app/projects/30957/collections/819/image.png
                      deployed: true
                      bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                      extensions:
                        link: ''
                        description: Placeholders collection
                        ogImage: https://metadata.sequence.app/projects/30957/collections/819/image.png
                        ogName: Vault for Sales
                        originChainId: 0
                        originAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                        verified: true
                        verifiedBy: token-directory
                      updatedAt: '2024-10-23T05:53:19.171080211Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/SearchContractInfoBatch:
    post:
      summary: SearchContractInfoBatch
      description: 'map of contractAddress :: []ContractInfo'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchContractInfoBatch_Request'
            examples:
              '0':
                value:
                  contractAddresses:
                  - '0x70a2177079877e4aae639d1abb29ffa537b94970'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchContractInfoBatch_Response'
              examples:
                '0':
                  value:
                    contractInfoByChain:
                      '0x70a2177079877e4aae639d1abb29ffa537b94970':
                      - chainId: 80002
                        address: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                        name: Placeholders
                        type: ERC721
                        symbol: ''
                        logoURI: https://metadata.sequence.app/projects/30957/collections/819/image.png
                        deployed: true
                        bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                        extensions:
                          link: ''
                          description: Placeholders collection
                          ogImage: https://metadata.sequence.app/projects/30957/collections/819/image.png
                          ogName: Vault for Sales
                          originChainId: 0
                          originAddress: '0x70a2177079877e4aae639d1abb29ffa537b94970'
                          verified: true
                          verifiedBy: token-directory
                        updatedAt: '2024-10-23T05:53:19.171080211Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorGeoblocked'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorRequiredArgument'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorValidationFailed'
                - $ref: '#/components/schemas/ErrorRateLimited'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorChainNotFound'
                - $ref: '#/components/schemas/ErrorTokenDirectoryDisabled'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
                - $ref: '#/components/schemas/ErrorFail'
      tags:
      - public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
  /rpc/Metadata/SearchTokens:
    post:
      summary: SearchTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_SearchTokens_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  q: skyweaver
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata_SearchTokens_Response'
              examples:
                '0':
                  value:
                    tokenMetadata:
                    - tokenId: '107'
                      name: Season 0 Floof 107
                      description: ''
                      image: https://nft.flooftopia.org/images/Floof_80001_107.png
                      properties:
                        000_season:
                          name: season
                          value: Season 0
                        005_floofId:
                          name: Floof ID
                          value: '107'
                        010_head_indices_shape:
                          name: Head Shape
                          value: Egg
                        015_head_indices_nose:
                          name: Nose
                          value: Dog Nose
                        020_head_indices_mouth:
                          name: Mouth
                          value: Smiley
                        025_head_indices_ears:
                          name: Ears
                          value: Curly Loppy
                        030_head_shape:
                          name: Head Shape Options
                          value:
                          - 4
                          - 2
                          - -8
                        035_head_eye:
                          name: Eye Options
                          value:
                          - 2
                          - 21
                          - -38
                        040_head_eyeColor:
                          name: Eye Color
                          value: (R=0.018500,G=0.001214,B=0.009721,A=1.000000)
                        045_head_nose:
                          name: Nose Options
                          value:
                          - -22
                          - -6
                        050_head_mouth:
                          name: Mouth Options
                          value:
                          - -61
                          - 61
                        055_head_ears:
                          name: Ears Options
                          value:
                          - 19
                          - 14
                          - 4
                        060_fur_indices_length:
                          name: Fur Length
                          value: Short
                        065_fur_indices_pattern:
                          name: Fur Pattern
                          value: Patches
                        070_fur_color:
                          name: Fur Color
                          value: (R=0.361307,G=0.155926,B=0.012286,A=1.000000)
                        075_fur_color_pattern:
                          name: Pattern Color
[...]
