openapi: 3.2.0
info:
  title: Sequence Public API
  version: 0.0.1
  description: 'Operations tagged public across 2 of this provider''s published API definitions: sequence-indexer.json, sequence-metadata.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://amoy-indexer.sequence.app
  description: Amoy Mainnet
- url: https://apechain-mainnet-indexer.sequence.app
  description: Apechain-Mainnet Mainnet
- url: https://apechain-testnet-indexer.sequence.app
  description: Apechain-Testnet Mainnet
- url: https://arbitrum-indexer.sequence.app
  description: Arbitrum Mainnet
- url: https://arbitrum-nova-indexer.sequence.app
  description: Arbitrum-Nova Mainnet
- url: https://arbitrum-sepolia-indexer.sequence.app
  description: Arbitrum-Sepolia Mainnet
- url: https://astar-zkevm-indexer.sequence.app
  description: Astar-Zkevm Mainnet
- url: https://astar-zkyoto-indexer.sequence.app
  description: Astar-Zkyoto Mainnet
- url: https://avalanche-indexer.sequence.app
  description: Avalanche Mainnet
- url: https://avalanche-testnet-indexer.sequence.app
  description: Avalanche-Testnet Mainnet
- url: https://b3-indexer.sequence.app
  description: B3 Mainnet
- url: https://b3-sepolia-indexer.sequence.app
  description: B3-Sepolia Mainnet
- url: https://base-indexer.sequence.app
  description: Base Mainnet
- url: https://base-sepolia-indexer.sequence.app
  description: Base-Sepolia Mainnet
- url: https://blast-indexer.sequence.app
  description: Blast Mainnet
- url: https://blast-sepolia-indexer.sequence.app
  description: Blast-Sepolia Mainnet
- url: https://borne-testnet-indexer.sequence.app
  description: Borne-Testnet Mainnet
- url: https://bsc-indexer.sequence.app
  description: Bsc Mainnet
- url: https://bsc-testnet-indexer.sequence.app
  description: Bsc-Testnet Mainnet
- url: https://gnosis-indexer.sequence.app
  description: Gnosis Mainnet
- url: https://homeverse-indexer.sequence.app
  description: Homeverse Mainnet
- url: https://homeverse-testnet-indexer.sequence.app
  description: Homeverse-Testnet Mainnet
- url: https://immutable-zkevm-indexer.sequence.app
  description: Immutable-Zkevm Mainnet
- url: https://immutable-zkevm-testnet-indexer.sequence.app
  description: Immutable-Zkevm-Testnet Mainnet
- url: https://imx-indexer.sequence.app
  description: Imx Mainnet
- url: https://imx-testnet-indexer.sequence.app
  description: Imx-Testnet Mainnet
- url: https://mainnet-indexer.sequence.app
  description: Mainnet Mainnet
- url: https://optimism-indexer.sequence.app
  description: Optimism Mainnet
- url: https://optimism-sepolia-indexer.sequence.app
  description: Optimism-Sepolia Mainnet
- url: https://polygon-indexer.sequence.app
  description: Polygon Mainnet
- url: https://polygon-zkevm-indexer.sequence.app
  description: Polygon-Zkevm Mainnet
- url: https://rootnet-indexer.sequence.app
  description: Rootnet Mainnet
- url: https://rootnet-porcini-indexer.sequence.app
  description: Rootnet-Porcini Mainnet
- url: https://sepolia-indexer.sequence.app
  description: Sepolia Mainnet
- url: https://skale-nebula-testnet-indexer.sequence.app
  description: Skale-Nebula-Testnet Mainnet
- url: https://soneium-minato-indexer.sequence.app
  description: Soneium-Minato Mainnet
- url: https://toy-testnet-indexer.sequence.app
  description: Toy-Testnet Mainnet
- url: https://xai-indexer.sequence.app
  description: Xai Mainnet
- url: https://xai-sepolia-indexer.sequence.app
  description: Xai-Sepolia Mainnet
- url: https://xr-sepolia-indexer.sequence.app
  description: Xr-Sepolia Mainnet
- url: https://metadata.sequence.app/
  description: Metadata
tags:
- name: Public
  description: Endpoints accessible by passing your project-access-key in the header. This is injected whenever you login automatically.
paths:
  /rpc/Indexer/GetNativeTokenBalance:
    post:
      summary: GetNativeTokenBalance
      description: GetNativeTokenBalance queries an ethereum node for the latest native token account balance. The native token is the token of the chain the indexer is connected to, for example, ETH on Ethereum and POL on Polygon.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetNativeTokenBalance_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetNativeTokenBalance_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetNativeTokenBalance
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetTokenBalancesSummary:
    post:
      summary: GetTokenBalancesSummary
      description: On Sepolia Mainnet, get the token balance summaries for an account address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalancesSummary_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalancesSummary_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetTokenBalancesSummary
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetTokenBalancesDetails:
    post:
      summary: GetTokenBalancesDetails
      description: On Sepolia Mainnet, get the token balance details for tokens owned by an account address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalancesDetails_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalancesDetails_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetTokenBalancesDetails
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetTokenBalancesByContract:
    post:
      summary: GetTokenBalancesByContract
      description: On Sepolia Mainnet, get the token balances by a specific contract address
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalancesByContract_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalancesByContract_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetTokenBalancesByContract
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetTokenBalances:
    post:
      summary: GetTokenBalances
      description: Get the token balances for the included account address and contract address. Example on Ethereum Sepolia
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenBalances_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenBalances_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetTokenBalances
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetTokenSupplies:
    post:
      summary: GetTokenSupplies
      description: GetTokenSupplies returns the set of tokenIDs used by a contract address, supporting ERC-20, ERC-721, and ERC-1155 contracts, and their respective supply as well.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenSupplies_Request'
            example:
              contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenSupplies_Response'
              example:
                page:
                  pageSize: 200
                  more: false
                contractType: ERC1155
                tokenIDs:
                - tokenID: '0'
                  supply: '9'
                  chainId: 1
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetTokenSupplies
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetTokenSuppliesMap:
    post:
      summary: GetTokenSuppliesMap
      description: On Sepolia Mainnet, get the token supplies of the minted tokens for a contract address and token ID mapping
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTokenSuppliesMap_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTokenSuppliesMap_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetTokenSuppliesMap
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetBalanceUpdates:
    post:
      summary: GetBalanceUpdates
      description: Get balance update aggregate values -- useful for syncing balance details of a contract, ie. from Skyweaver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetBalanceUpdates_Request'
            example:
              contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
              lastBlockNumber: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetBalanceUpdates_Response'
              example:
                page:
                  pageSize: 200
                  more: false
                balances:
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0xc48835421ce2651bc5f78ee59d1e10244753c7fc'
                  tokenID: '0'
                  balance: '8'
                  blockHash: '0x4db688b03de5804dd6e916ebafbc687aa3196c99288fbc63698e92c855400ff3'
                  blockNumber: 20126805
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: ''
                  tokenID: '0'
                  balance: '9'
                  blockHash: '0xd5e2e041f9d292b25076a512e198d183a55d21440be15e9869c0b1b7d9b179f5'
                  blockNumber: 20363254
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0x0000000000000000000000000000000000000000'
                  tokenID: '0'
                  balance: '-9'
                  blockHash: '0xd5e2e041f9d292b25076a512e198d183a55d21440be15e9869c0b1b7d9b179f5'
                  blockNumber: 20363254
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0xbabebe9fe973a5735d486bf6d31e9a027248024e'
                  tokenID: '0'
                  balance: '1'
                  blockHash: '0x080ea6171f82705555cd1248f73ce1d61dbcbd68f5eefab44b64dec2293a695f'
                  blockNumber: 20692108
                  chainId: 1
                - contractType: ERC1155
                  contractAddress: '0x369db37255c76aec060d070eabeb0661e51a42a9'
                  accountAddress: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                  tokenID: '0'
                  balance: '0'
                  blockHash: '0x080ea6171f82705555cd1248f73ce1d61dbcbd68f5eefab44b64dec2293a695f'
                  blockNumber: 20692108
                  chainId: 1
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetBalanceUpdates
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/GetTransactionHistory:
    post:
      summary: GetTransactionHistory
      description: History of mined transactions for the account which includes a list of token transfers (sent/recieved) and sent transactions from a Sequence wallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_GetTransactionHistory_Request'
            example:
              accountAddress: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_GetTransactionHistory_Response'
              example:
                page:
                  after: rmExGgC37OVhMnhCMHhiMjMzM2NlNDliNzlmMzcyOGUwYWFjNzNlNGMwNzYzYmVjODBlYmVmZGViZWZlOWU1ZDVmZGNiNWVmNzMyZWE2YTN4KjB4ZTZlYjI4Mzk4Y2NiZTQ2YWE1MDViNjJiOTY4MjJjMmNlOGRhYWJmNGE0eCoweGRkOTAxMjY4NTY5NTdhYTFlOWM1Y2MzMzk1ZTg2NmI2ZWI4MzBhNDRhNQJhNngqMHgwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwYTd4KjB4ZTZlYjI4Mzk4Y2NiZTQ2YWE1MDViNjJiOTY4MjJjMmNlOGRhYWJmNGE4eEIweDJkNmFiZmE1MTI2NDRmYzVjMjY2Nzk2ZTg4MzMxYmY0MWNhZDc1YWFlMjE4ZDQxODk0ODU1MzU4ZDhjODlhMGRhOQBhYQFhYmBhZIFDIjAiYWWBRCI2MiJhYxpm6I0N
                  pageSize: 10
                  more: true
                transactions:
                - txnHash: '0x64628263b93ccad7dfd6fb1a81f1bcdadd0eb89649e0a43bdf65f639fddcd319'
                  blockNumber: 12215569
                  blockHash: '0x05a4b055603a0b0cdb9e0d1bc28088bb4fca79a83d32bdc4a98d665e06ae7564'
                  chainId: 80002
                  metaTxnID: null
                  transfers:
                  - transferType: RECEIVE
                    contractAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                    contractType: ERC20
                    from: '0x0000000000000000000000000000000000000000'
                    to: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIds:
                    - '0'
                    amounts:
                    - '33'
                    logIndex: 9
                    contractInfo:
                      chainId: 80002
                      address: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                      name: Oracle Token
                      type: ERC20
                      symbol: ''
                      deployed: true
                      bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                      extensions:
                        link: ''
                        description: ''
                        ogImage: ''
                        originChainId: 0
                        originAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                        verified: true
                        verifiedBy: Sequence Builder
                      updatedAt: '0001-01-01T00:00:00Z'
                  timestamp: '2024-09-20T20:36:45Z'
                - txnHash: '0x5aae198a65b993a767bd495ea77b7825e0e884d9dcc446a1515097eb962814d6'
                  blockNumber: 12213913
                  blockHash: '0x726ccdee4ef384493f96c666e959258ba70689bd6553c098a51542b2627a8b22'
                  chainId: 80002
                  metaTxnID: null
                  transfers:
                  - transferType: RECEIVE
                    contractAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                    contractType: ERC20
                    from: '0x0000000000000000000000000000000000000000'
                    to: '0xe6eb28398ccbe46aa505b62b96822c2ce8daabf4'
                    tokenIds:
                    - '0'
                    amounts:
                    - '1000'
                    logIndex: 1
                    contractInfo:
                      chainId: 80002
                      address: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                      name: Oracle Token
                      type: ERC20
                      symbol: ''
                      deployed: true
                      bytecodeHash: '0x77d12b9637a99b3ba23920eea929a68cc89b49a0e1ff4d2a71b798550cc0060e'
                      extensions:
                        link: ''
                        description: ''
                        ogImage: ''
                        originChainId: 0
                        originAddress: '0xdd90126856957aa1e9c5cc3395e866b6eb830a44'
                        verified: true
                        verifiedBy: Sequence Builder
                      updatedAt: '0001-01-01T00:00:00Z'
                  timestamp: '2024-09-20T19:37:18Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerGetTransactionHistory
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/FetchTransactionReceipt:
    post:
      summary: FetchTransactionReceipt
      description: On Sepolia Mainnet, get the transaction receipt for a specific hash after a certain number of blocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_FetchTransactionReceipt_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_FetchTransactionReceipt_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerFetchTransactionReceipt
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/FetchTransactionReceiptWithFilter:
    post:
      summary: FetchTransactionReceiptWithFilter
      description: On Sepolia Mainnet, get the transaction receipt for a specific hash after a certain number of blocks for a certain filter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_FetchTransactionReceiptWithFilter_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_FetchTransactionReceiptWithFilter_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerFetchTransactionReceiptWithFilter
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/SubscribeReceipts:
    post:
      summary: SubscribeReceipts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_SubscribeReceipts_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_SubscribeReceipts_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      description: On Sepolia Mainnet, subscribe and receive receipts based on a filter of transaction hash and transaction details
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerSubscribeReceipts
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/SubscribeEvents:
    post:
      summary: SubscribeEvents
      description: On Sepolia Mainnet, subscribe and receive receipts based on a filter of transaction mints
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_SubscribeEvents_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_SubscribeEvents_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerSubscribeEvents
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Indexer/SubscribeBalanceUpdates:
    post:
      summary: SubscribeBalanceUpdates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Indexer_SubscribeBalanceUpdates_Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Indexer_SubscribeBalanceUpdates_Response'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcEndpoint'
                - $ref: '#/components/schemas/ErrorWebrpcRequestFailed'
                - $ref: '#/components/schemas/ErrorWebrpcBadRoute'
                - $ref: '#/components/schemas/ErrorWebrpcBadMethod'
                - $ref: '#/components/schemas/ErrorWebrpcBadRequest'
                - $ref: '#/components/schemas/ErrorWebrpcClientDisconnected'
                - $ref: '#/components/schemas/ErrorWebrpcStreamLost'
                - $ref: '#/components/schemas/ErrorUnauthorized'
                - $ref: '#/components/schemas/ErrorPermissionDenied'
                - $ref: '#/components/schemas/ErrorSessionExpired'
                - $ref: '#/components/schemas/ErrorMethodNotFound'
                - $ref: '#/components/schemas/ErrorRequestConflict'
                - $ref: '#/components/schemas/ErrorAborted'
                - $ref: '#/components/schemas/ErrorTimeout'
                - $ref: '#/components/schemas/ErrorInvalidArgument'
                - $ref: '#/components/schemas/ErrorUnavailable'
                - $ref: '#/components/schemas/ErrorQueryFailed'
                - $ref: '#/components/schemas/ErrorResourceExhausted'
                - $ref: '#/components/schemas/ErrorNotFound'
                - $ref: '#/components/schemas/ErrorProjectNotFound'
                - $ref: '#/components/schemas/ErrorMetadataCallFailed'
        5XX:
          description: Server error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ErrorWebrpcBadResponse'
                - $ref: '#/components/schemas/ErrorWebrpcServerPanic'
                - $ref: '#/components/schemas/ErrorWebrpcInternalError'
      description: On Sepolia Mainnet, subscribe and receive balance updates based on the affected address, like wallet and contract address, with specific details
      tags:
      - Public
      security:
      - ApiKeyAuth:
        - AQAAAAAAAEGvyZiWA9FMslYeG_yayXaHnSI
      operationId: postRpcIndexerSubscribeBalanceUpdates
      x-operation-id-source: derived
    servers:
    - url: https://amoy-indexer.sequence.app
      description: Amoy Mainnet
    - url: https://apechain-mainnet-indexer.sequence.app
      description: Apechain-Mainnet Mainnet
    - url: https://apechain-testnet-indexer.sequence.app
      description: Apechain-Testnet Mainnet
    - url: https://arbitrum-indexer.sequence.app
      description: Arbitrum Mainnet
    - url: https://arbitrum-nova-indexer.sequence.app
      description: Arbitrum-Nova Mainnet
    - url: https://arbitrum-sepolia-indexer.sequence.app
      description: Arbitrum-Sepolia Mainnet
    - url: https://astar-zkevm-indexer.sequence.app
      description: Astar-Zkevm Mainnet
    - url: https://astar-zkyoto-indexer.sequence.app
      description: Astar-Zkyoto Mainnet
    - url: https://avalanche-indexer.sequence.app
      description: Avalanche Mainnet
    - url: https://avalanche-testnet-indexer.sequence.app
      description: Avalanche-Testnet Mainnet
    - url: https://b3-indexer.sequence.app
      description: B3 Mainnet
    - url: https://b3-sepolia-indexer.sequence.app
      description: B3-Sepolia Mainnet
    - url: https://base-indexer.sequence.app
      description: Base Mainnet
    - url: https://base-sepolia-indexer.sequence.app
      description: Base-Sepolia Mainnet
    - url: https://blast-indexer.sequence.app
      description: Blast Mainnet
    - url: https://blast-sepolia-indexer.sequence.app
      description: Blast-Sepolia Mainnet
    - url: https://borne-testnet-indexer.sequence.app
      description: Borne-Testnet Mainnet
    - url: https://bsc-indexer.sequence.app
      description: Bsc Mainnet
    - url: https://bsc-testnet-indexer.sequence.app
      description: Bsc-Testnet Mainnet
    - url: https://gnosis-indexer.sequence.app
      description: Gnosis Mainnet
    - url: https://homeverse-indexer.sequence.app
      description: Homeverse Mainnet
    - url: https://homeverse-testnet-indexer.sequence.app
      description: Homeverse-Testnet Mainnet
    - url: https://immutable-zkevm-indexer.sequence.app
      description: Immutable-Zkevm Mainnet
    - url: https://immutable-zkevm-testnet-indexer.sequence.app
      description: Immutable-Zkevm-Testnet Mainnet
    - url: https://imx-indexer.sequence.app
      description: Imx Mainnet
    - url: https://imx-testnet-indexer.sequence.app
      description: Imx-Testnet Mainnet
    - url: https://mainnet-indexer.sequence.app
      description: Mainnet Mainnet
    - url: https://optimism-indexer.sequence.app
      description: Optimism Mainnet
    - url: https://optimism-sepolia-indexer.sequence.app
      description: Optimism-Sepolia Mainnet
    - url: https://polygon-indexer.sequence.app
      description: Polygon Mainnet
    - url: https://polygon-zkevm-indexer.sequence.app
      description: Polygon-Zkevm Mainnet
    - url: https://rootnet-indexer.sequence.app
      description: Rootnet Mainnet
    - url: https://rootnet-porcini-indexer.sequence.app
      description: Rootnet-Porcini Mainnet
    - url: https://sepolia-indexer.sequence.app
      description: Sepolia Mainnet
    - url: https://skale-nebula-testnet-indexer.sequence.app
      description: Skale-Nebula-Testnet Mainnet
    - url: https://soneium-minato-indexer.sequence.app
      description: Soneium-Minato Mainnet
    - url: https://toy-testnet-indexer.sequence.app
      description: Toy-Testnet Mainnet
    - url: https://xai-indexer.sequence.app
      description: Xai Mainnet
    - url: https://xai-sepolia-indexer.sequence.app
      description: Xai-Sepolia Mainnet
    - url: https://xr-sepolia-indexer.sequence.app
      description: Xr-Sepolia Mainnet
  /rpc/Metadata/RefreshTokenMetadata:
    post:
      summary: RefreshTokenMetadata
      deprecated: true
      description: Deprecated -> Use RefreshContractInfo, RefreshContractTokens or RefreshAllContractTokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata_RefreshTokenMetadata_Request'
            examples:
              '0':
                value:
                  chainID: '80002'
                  contractAddress: '0x70a2177079877e4aae639d1abb29ffa537b99279'
                  tokenIDs:
                  - '0'
                  - '1'
                  refreshAll: true
      responses:
[...]
